<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--
    Customer movie show booking and employee reporting Java EE system, using Spring 3+, Hibernate 4+ and JSF 2.1+
    Copyright (C) 2014 Lewis Tat Fong CHOO MAN

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
-->

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Remove for @Transactional to work! property name="hibernate.current_session_context_class">thread</property-->
        <mapping class="com.lewischooman.models.CustomerDB" />
        <mapping class="com.lewischooman.models.EmployeeDB" />
        <mapping class="com.lewischooman.models.HallDB" />
        <mapping class="com.lewischooman.models.MovieDB" />
        <mapping class="com.lewischooman.models.MovieShowDB" />
        <mapping class="com.lewischooman.models.RoleDB" />
        <mapping class="com.lewischooman.models.ShowBookingDB" />
        <mapping class="com.lewischooman.models.TheaterDB" />
        <mapping class="com.lewischooman.models.UserDB" />
        <mapping class="com.lewischooman.models.WebpageDB" />
    </session-factory>
</hibernate-configuration>
